<h1>New National Park</h1>


<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: "error" %>
<% end %>

<%= form_for(@national_park) do |f| %> 
<%= f.label(:name) %>
<%= f.text_field(:name) %>

<%= f.submit "Create National Park"%>
<% end %>