<h1>New Trail</h1>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, class: "error" %>
<% end %>

<%= form_for(@trail) do |f| %>
<%= f.label(:name) %>
<%= f.text_field(:name) %>

<%= f.label(:national_park_id) %>
<%= f.text_field(:national_park_id) %>

<%= f.submit "Create Trail"%>
<% end %>
