<h1 class="title">New Trail</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "error" %>
<% end %>

<%= form_for(@trail) do |f| %>
  <div class="field">
    <%= f.label(:name, class: "label") %>
    <%= f.text_field(:name, class: "input") %>
  </div>

  <div class="field">
    <%= f.label(:national_park_id, class: "label") %>
    <%= f.text_field(:national_park_id, class: "input") %>
  </div>

  <%= f.submit "Create Trail", :class => "button is-primary" %>
<% end %>
